<div style="height: 140px; margin-top: 20px;">
  <div style="float:left; width: 20%; height: 130px; display:flex; flex-direction: column; justify-content: space-between; align-items: center;">
   <img class="profile-icon-left-panel" src="icons/user-icon.png">
   <img class="" src="icons/online-icon.png" width=12>
   {{input type="checkbox" class="checkbox-left-panel" checked=chartData.checked}}
  </div>
  <div class="sub-chart-container">
    <div style="height: 40px; width: 100%; float:left; margin-left: 10px;">
      <div class="sub-chart-name"> {{name}} </div>
      <div class="sub-chart-avg"> {{avgBPM}} </div>
      <div class="dim-font"> AVG BPM </div>
      <div class="sub-chart-avg"> {{restBPM}} </div>
      <div class="dim-font"> REST BPM </div>
     </div>
     <div style="height: 100px; float: left; width: 100%">
       {{user-highchart content=arrayifiedChartData chartOptions=chartOptions}}
   </div>
  </div>
</div>
